.Menu-row-container {
height: 75px;
width: 100%;
background-color: $red;
position: relative;
}
/////////////////////////////////////////////
 // LEFT SECTION
 /////////////////////////////////////////////
.Menu-row-menu--js {
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 10px;
  bottom: 10px;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.Menu-row-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 4px solid white;
  @extend .Flex-center;
  float: left;
}
.Menu-row-title {
  margin-left: 10px;
  float: left;
  color: white;
  h3 {
    padding: 15px 0;
    margin: 0;
    font-size: 26px;
  }
}
.Menu-row-burger {
  width: 60%;
  height: 20px;
  position: relative;
  span {
    position: absolute;
    width: 100%;
    border-radius: 5px;
    display: block;
    opacity: 1;
    height: 4px;
    left: 0;
    background-color: white;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-of-type(1) {
    top: 0;
    }
    &:nth-of-type(2), &:nth-of-type(3) {
      top: 8px;
    }
    &:nth-of-type(4) {
      top: 16px;
    }
  }
}
//  STATE OPEN
.Burger--open {
span:nth-of-type(1),span:nth-of-type(4)  {
top: 8px;
width: 0;
left: 50%;
}
span:nth-of-type(2) {
  transform: rotate(45deg);
}
span:nth-of-type(3) {
  transform: rotate(-45deg);
}
}

/////////////////////////////////////////////
// RIGHT SECTION
/////////////////////////////////////////////
.Menu-row-profile {
  position: absolute;
  right: 15px;
  top: 10px;
  bottom: 10px;

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}
.Menu-row-image {
margin-top: 5px;
background: url("../images/svg/profile-icon.svg") no-repeat center center;
height: 45px;
width: 45px;
float: left;
}
