/////////////////////////////////////////////
// .Row
/////////////////////////////////////////////
.Row {
  width: 100%;
  &:before, &:after {
    content: "";
    display: block;
    clear: both;
  }
}



// Justify content vertically and horizontally
.Flex-center
{
  display:flex;
  justify-content:center;
  align-items:center;
}

// Promo box for the index page
.Promo-box {
  background-color: white;
  border-radius: 5px;
  text-align: center;
}