/////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////
$red: rgb(192,51,47);
$orange: rgb(251,164,0);
$ligth-grey: rgb(204,204,204);

/////////////////////////////////////////////
// Margin and offsets
/////////////////////////////////////////////
// Base offset
$base-margin: 15px;
