/////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////
$red: rgb(192,51,47);
$red_dark: rgb(155,53,46);
$orange: rgb(251,164,0);
$orange_dark: rgb(215,153,34);
$green: rgb(161, 197, 73);
$green_dark: rgb(141,171,64);