.Browser {
  background-color: $dark-red;
  display: none;
}
.Browser-inner {
  margin: 0 auto;
  color: white;
  padding: 2*$base-margin;
  width: 90%;
  max-width: 560px;
  p {
    font-size: 26px;
  }
}
