.Promo-container {
  background-color: rgb(242, 242, 242);
}

.Promo-container-inner {
  width: calc(100% - 40px);
  margin: 0 auto;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.Promo-item {
  @include gtr-col(3, 35px);
  margin-top: 50px;
  margin-bottom: 50px;
}

.Promo-box {
  @extend .Promo-box;
}

.Promo-box-title {
  color: $red;
  font-size: 25px;
}

.Promo-box--first, .Promo-box--second {
  padding: 25px;
}

.Promo-box-button {
  color: white;
}

/////////////////////////////////////////////
// PROMO FIRST
/////////////////////////////////////////////
.Promo-box--first {
  .Promo-box-button {
    @include button($red, $red_dark);
  }
}

/////////////////////////////////////////////
// PROMO SECOND
/////////////////////////////////////////////
.Promo-box--second {
  .Promo-box-button {
    @include button($orange, $orange_dark);
  }
}

/////////////////////////////////////////////
// PROMO THIRD
/////////////////////////////////////////////
.Promo-box--third {
  .Promo-box-image-big {
    background: no-repeat center center;
    background-size: cover;
    height: 250px;
  }
  .Promo-box-band {
    background-color: $orange;
    padding: 30px 0 25px 0;
    color: white;
  }
  .Promo-box-band-text {
    font-size: 12px;
  }
  .Promo-box-band-text--big {
    font-size: 30px;
  }
  .Promo-box-link {
    padding: 30px 0 25px 0;
    a {
      color: $red;
      text-decoration: none;
      text-transform: uppercase;
      &:before {
        content: ">> ";
      }
    }
  }
}