.Lottery-container {
  width: 500px;
  margin: 0 auto;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}


.Lottery-column {
  position: relative;
  overflow: hidden;
  width: calc(25% - 2px);
  float: left;
  height: 60px;
  border: 1px solid green;
  float: left;
}


.Lottery-number--spinning {
  animation: spinning 5s linear infinite;
}

.Lottery-number {
  position: absolute;
  top: 0;
  width: 100%;
// THE NUMBER DIV
  div {
    @extend .flex-center;
    font-size: 22px;
    height: 60px;
    width: 100%;
    text-align: center;
  }

}
@keyframes spinning {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-600px);
  }
}



.correct {
  color: green;
}
.wrong {
  color: red;
}
