.js-Footer-totop {
  padding: $base-margin;
  display: block;
  text-align: center;
}

.Footer-inner {
  @extend .Inner-container;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include breakpoint(1px, 767px) {
    padding-left: $base-margin;
    padding-right: $base-margin;
  }
  padding-top: $base-margin;
}
.Footer-box {
  @include flex-gtr-col(1,15px);
  @include breakpoint(1180px) {
    @include flex-gtr-col(3,15px);
  }
  margin-bottom: $base-margin;
}

.Footer-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: $base-margin;
}

/////////////////////////////////////////////
// FOOTER FIRST
/////////////////////////////////////////////
.Footer-box--first {
  .Footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      margin-bottom: $base-margin;
    }
    a {
      text-transform: uppercase;
      font-size: 16px;
    }
  }
  //  BLOCK LAYOUT
  .Footer-box-col--image {
    order: 2;
    display:flex;
    justify-content: flex-end;
    align-items: top;
    flex-basis: 50%;
  }
  .Footer-box-col--list {
    order: 1;
    flex-basis: 50%;
  }
  @include breakpoint(1180px) {
    .Footer-box-col--image {
      order: 1;
      justify-content: flex-start;
      flex-basis: 90px;
    }
    .Footer-box-col--list {
      order: 2;
    }
  }
}
/////////////////////////////////////////////
// FOOTER SECOND
/////////////////////////////////////////////
.Footer-box--second {
  order: 3;
  .Footer-link {
    @extend .Arrow-link;
    margin: 10px 0 0 18px;
  }
}
/////////////////////////////////////////////
// FOOTER THIRD
/////////////////////////////////////////////
.Footer-box--third {
  order: 2;
  .Footer-follow {
    @include flex-row();
  }
  .Footer-follow-item {
    @include flex-gtr-col(2,$base-margin);
    margin-top: 5px !important;

  }
  .Footer-follow-item--facebook {
    @include media-btn("../images/svg/footer/facebook.svg",$facebook-blue);
  }
  .Footer-follow-item--youtube {
    @include media-btn("../images/svg/footer/youtube.svg",$youtube-red);
  }
}
/////////////////////////////////////////////
// BLOCK ORDER SECOND AND THIRD
/////////////////////////////////////////////
@include breakpoint(1180px) {
  .Footer-box--second  {
    order: 2;
  }
  .Footer-box--third  {
    order: 3;
  }
}
/////////////////////////////////////////////
// HELP LOGOS
/////////////////////////////////////////////
.Footer-help-logos {
  @extend .Inner-container;
  border-top: 4px solid $lighter-grey;
}
.Footer-help-logos-inner {
  width: 180px;
  @include breakpoint(600px) {
    width: 100%;
    max-width: 560px;
  }
  margin: $base-margin auto 5px auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

}
.Footer-logo {
  color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
  background-size: 50px auto;
  display: flex;
  background-size: contain;
  margin-bottom: $base-margin;
  @include breakpoint(600px) {
    margin-bottom: 0;
  }
  span {
    opacity: 0;
    display: none;
  }
}
.Footer-logo--age-limit,.Footer-logo--contact {
  flex-basis: 50px;
}
.Footer-logo--lottery-inspection,
.Footer-logo--gamble,
 {
   flex-basis: 180px;
}
.Footer-logo--contact {
  background-image: url("../images/svg/footer/contact.png");
}
.Footer-logo--age-limit {
  background-image: url("../images/svg/footer/stamp.png");
}
.Footer-logo--lottery-inspection {
  background-image: url("../images/svg/footer/lotteryinspection-logo.svg");
}
.Footer-logo--gamble {
  background-image: url("../images/svg/footer/gamble.svg") ;
}
