.Winnings {
  background-color: $lighter-grey;
  padding-bottom: 100px;
}

.Winnings-container {
  @extend .Inner-container;
}

.Winnings-header {
  text-align: center;
  padding-top: $base-margin;
}
